.cl_Edit_Title {
  height: 15%;
  font-size: -webkit-xxx-large;
  border: none;
}
.cl_Edit_content {
  width: 100%;
  border: none;
  resize: none;
}
.cl_Tag_selector {
  width: 15%;
}
.cl_Edit_Publish_Btn {
  width: 12%;
  margin-left: 90%;
}
/* ? Markdown */
.cl_Plain_Edit_Contents {
  display: flex;
}
.cl_Plain_Edit_Content {
  height: 400px;
  font-size: large;
  padding: 2%;
  width: 50%;
}
.cl_Plain_Edit_Text {
  border-right: 1px solid lightgrey;
  resize: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
