.cl_SignUpComponent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cl_SignUpForm {
  width: 32% !important;
  padding-top: 2% !important;
  padding-right: 2% !important;
  margin-top: 7% !important;
  border: 2px dashed cornflowerblue !important;
}
