.cl_CompanyMyPage {
  height: auto;
  width: 90%;
  margin-top: 7%;
  display: flex;
  margin-left: 2%;
  flex-direction: column;
}
.cl_CompanyMyPage_Set {
  margin-bottom: 5%;
}
.cl_Company_Name {
  margin-bottom: 2%;
  border-bottom: 1px solid lightgray;
  font-size: -webkit-xxx-large;
}
.cl_Company_Name_Input {
  padding: 0px !important;
  font-size: -webkit-xxx-large !important;
  border: none !important;
  background: none !important;
  height: auto !important;
}
.cl_Company_Info {
  font-size: x-large;
  height: 300px;
}

.cl_Company_Members {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

.cl_Company_Member {
  margin-top: 5% !important;
}
.cl_Company_Member_Header {
  padding-top: 1%;
  margin-top: -0.55%;
  background-color: white;
  width: 88%;
  position: absolute;
  font-size: larger;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1%;
  z-index: 1;
}

.cl_Company_Tags {
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: auto;
  border: 1px solid rgb(232, 232, 232);
  flex-direction: column;
  padding: 2%;
}
.cl_Tags_Header {
  font-size: xx-large;
  margin-bottom: 5%;
}
.cl_Company_Tag {
  margin: 1% !important;
  padding-top: 0.7% !important;
  font-size: large !important;
  width: 25%;
  height: 40px !important;
}
.cl_Company_Recommend {
  align-items: center;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 232);
  justify-content: center;
}
.cl_Company_Recommend_Header {
  margin-bottom: -4%;
  font-size: xx-large;
}
.cl_Company_Recommend_List {
  padding-top: 1%;
  width: 90%;
  border-top: 1px solid lightgray;
  justify-content: center;
  height: 600px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.cl_Company_Recommend_Element {
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 1%;
  padding: 1%;
  font-size: x-large;
  width: 20%;
  height: 260px;
}
/* ? Company mypage edit */

.cl_Post_Company_Edit_Btn {
  position: absolute;
  margin-top: 2.5%;
  margin-left: 86.7%;
  color: rgb(161, 161, 161);
  z-index: 1;
}
.cl_Post_Company_Edit_Btn:hover {
  position: absolute;
  margin-top: 2.5%;
  margin-left: 86.7%;
  color: rgb(161, 161, 161);
}
.cl_Company_Edit_Info {
  font-size: initial;
  height: 300px;
}
.cl_Company_Edit_content {
  font-size: x-large;
  height: 300px;
  width: 100%;
  resize: none;
  border: none;
}
.cl_Company_Member_Dropdown {
  margin-top: 0.5%;
  float: right;
  margin-right: 2%;
  font-size: smaller;
}
.cl_Company_Member_Add_Modal {
  width: 400px !important;
}
.cl_Company_Member_Add_Input {
  width: 55%;
}

.cl_Company_Member_Edit {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 3%;
}
.cl_Company_Tag_Plus {
  font-size: 20px;
  float: right;
}
